<div class="overflow-hidden mt-3 overflow-x-auto rounded-lg border border-gray-200">
  <table class="min-w-full divide-y divide-gray-200 text-sm">
    <thead class="bg-gray-100">
    <tr>
      <th
        class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
      >
        <div class="flex items-center gap-2">
          ID
        </div>
      </th>
      <th
        class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
      >
        <div class="flex items-center gap-2">
          CIN
        </div>
      </th>
      <th
        class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
      >
        <div class="flex items-center gap-2">
          Name
        </div>
      </th>
      <th
        class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
      >
        <div class="flex items-center gap-2">
          Email
        </div>
      </th>
      <th
        class="whitespace-nowrap px-4 py-2 text-left font-medium text-gray-900"
      >
        <div class="flex items-center gap-2">
          Status
        </div>
      </th>
      <th
        class="whitespace-nowrap px-4 py-2 text-center font-medium text-gray-900"
      >
        Action
      </th>
    </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
    <tr *ngFor="let client of clients">
      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        #{{("00000"+client.id).slice(-6)}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        {{client.cin}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">
        {{client.lastName+" "+client.lastName}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-gray-700">
        {{client.email}}
      </td>
      <td class="whitespace-nowrap px-4 py-2">
        <app-status [status]="client.status"></app-status>
      </td>
      <td class="flex justify-evenly px-4 py-2">
        <button (click)="setSelectedId(client.id, 'accept');reviewModalOpened = true" class="text-blue-600">Accept</button>
        <button (click)="setSelectedId(client.id, 'reject');reviewModalOpened = true" class="text-red-600">Reject</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-modal [opened]="reviewModalOpened" (onConfirm)="onAccept()"></app-modal>
